export(singleAsk)
export(multiAsk)
export(new_chat)
export(format_input)
export(set_provider)
export(get_provider)
export(extract_code)
export(as_r_function)
export(set_pptx_template)
export(get_pptx_template)

S3method(format_input, default)
S3method(format_input, character)
S3method(format_input, data.frame)
S3method(format_input, matrix)
S3method(format_input, dgCMatrix)
S3method(format_input, Seurat)
